@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Noto Sans";
  margin: 0;
}

/*------------------ search page body ------------------*/

.page-body {
  padding: 1rem 2.5rem 2.5rem 7.5rem;
}

@media screen and (max-width: 500px) {
  .page-body {
    padding: 0 10px;

    }
}

.search-page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 37px 0;
}

.search-title-container {
  display: inline-block;
}

.search-title {
  font-size: 35px;
  color: black;
  margin: 0;
}

.search-stat {
  display: inline-block;
}

.search-stat a {
  margin-left: 11px;
  font-size: 12px;
}

.search-stat #first {
  padding-bottom: 3px;
  border-bottom: black solid 1px;
}

.search-stat a:hover {
  padding-bottom: 3px;
  border-bottom: black solid 1px;
}

.filter-buttons {
  /* padding: 1.5625rem 0 1.5625rem .1875rem; */
  margin-top: 50px;
  margin-left: 10px;
  margin-top: 70px;
  padding-bottom: 40px;
  border-bottom: #dfdfdf solid 0.5px;
}

.filter-buttons a {
  background-color: #f5f5f5;
  border-radius: 20px;
  transition: 0.5s background-color;
  font-size: 12px;
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.71875rem 1.5rem;
}

.filter-buttons a:hover {
  background-color: #dfdfdf;
}


/* here!! */




.search-result {
  /* width: 21%; */
  height: 460px;
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}

.search-result :hover .zine {
  display: none;
}

.search-result-data {
  margin-top: 45px;
}

.search-result-name {
  font-size: 14px;
  font-weight: bold;
}

.search-result-type{
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 13.5px;
  color: #484848;
}

.search-result-currency{
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  vertical-align:top;
}

.search-result-price{
  padding: 0;
  margin: 6px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
}

.more-variants{
  font-size: 12px;
  color: #484848;
  margin-bottom: 0;
}

.types {
  text-decoration: none;
  color: black;
}

.search-result-name:hover {
  text-decoration: underline;
}



.s2 {
  width: 20%;
  height: 460px;
  position: absolute;
  display: inline-block;
  margin-top: 1%;
  background-color: rgb(241, 239, 239);
}

.search-result-image {
  width: 100%;
  height: 300px;
  position: relative;
}

/* .ItemsImg {
  width: 100%;
  height: 100%;
} */

.zine {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;

}

.zhide {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;

}


p {
  padding: 4px;
  color: rgb(192, 191, 191);
}

.Other {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-top: 1%;
  padding: 2px;
  border: transparent solid 1px;
}

.Other:hover {
  border: #878787 solid 1px;
}

.appear1 {
  margin-left: 90%;
  color: black;
}

.cart-icon {
  display: inline-block;
  color: white;
  margin-left: 80%;
  padding: 10px;
  border-radius: 100%;

}

.cart-icon:hover {
  background-color: #1F599E;
}

.appear1:hover {
  color: brown;
}




/*Header*/

body {
  margin: 0;
  font-family: "Noto Sans";
}

.footer {
  background-color: #f5f5f5;
  padding: 5rem 2.5rem 2.5rem 7.25rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer-column {
  color: #111111;
  font-size: 0.875rem;
  padding-left: 1.25rem;
  width: 15rem;
}

.footer-column p {
  color: #111111;
  font-weight: 700;
  line-height: 1.875rem;
  margin: 0;
  margin-bottom: 1.25rem;
}

.footer-column a {
  color: #484848;
  text-decoration: none;
  display: block;
  margin-bottom: 0.8rem;
}

.footer-column a:hover {
  color: #111111;
  text-decoration: underline;
}

.social-media-icons a img {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 100%;
}

.social-media-icons a img:hover {
  border-color: #929292;
}

.hr {
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
}

#credit {
  color: #484848;
  margin: 0;
  margin-top: 25px;
  font-size: 12px;
}

.links {
  text-align: right;
  font-size: 12px;
  margin: 0;
}

.links a {
  color: #484848;
  margin-left: 18px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.banner {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

#banner-text {
  margin-bottom: 2px;
  color: white;
  font-size: 0.75rem;
  display: inline-block;
  text-decoration: none;
  margin-right: 62px;
}
#banner-text:hover {
  text-decoration: underline;
}

#banner-icon {
  margin-bottom: 2px;
  height: 18px;
  width: 18px;
  margin-right: 10.5px;
}

/* ---- end of banner ---- */

a {
  text-decoration: none;
  color: #111111;
}

header {
  max-width: 112rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.menu-nav-container {
  display: grid;
  grid-column-gap: 1.25rem;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-areas: "menu nav nav nav nav nav nav nav nav nav nav nav nav";
  padding-left: 1.2rem;
  padding-right: 1.85rem;
}

.nav-container {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.nav-container .logo {
  width: 90px;
  height: 36px;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.nav-container nav {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  margin-left: 2.95rem;
  white-space: nowrap;
}

.nav-container nav ul {
  padding: 0;
  margin: 0 0 2px 0;
}

.nav-container nav li {
  list-style-type: none;
  display: inline-block; /* avoid bullet style */
  margin-right: 26px;
}

.nav-container nav li:hover {
  text-decoration: underline;
}

/* ---------------------- search below --------------------------------- */

.search-container {
  width: 100%;
}

.search {
  font-family: "Noto Sans";
  font-size: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 50em;
  width: 100%;
  height: 54px;
  padding: 0.8125rem 3.375rem 0.8125rem 3.6rem;
  margin-left: 21px;
  outline: 0;
  background-color: #f5f5f5;
  background-image: url(img/search-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 1.4rem;
}

.search:hover {
  background-color: #e2e2e2;
  transition-duration: 0.2s;
}

.search:focus {
  border: 2px solid #1f599e;
  background-color: white;
  background-image: url(img/close-icon.svg);
  transition-duration: 0s;
}

/* ---------------------- nav below --------------------------------- */

nav.icons-nav {
  padding-top: 4px;
  margin-left: 126px;
  display: flex;
}

.icons-nav img {
  background-color: transparent;
  border-radius: 100%;
  padding: 8px;
  margin-left: 8px;
  box-sizing: content-box;
}

.icons-nav img:hover {
  background-color: #f5f5f5;
  transition-duration: 0.1s;
}

#testclass{
  color: red;
}

.reddd{
  background-color: red;
}


/* ---------------------- id-based search page css --------------------------------- */


#items-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.5rem;
}

@media screen and (max-width: 500px) {
  #items-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

#item {
  height: 460px;
  width: 100%;
  display: inline-block;
  padding: 10px;
}

/* #item :hover .zine {
  display: none;
} */

#item-img-div{
  margin-top: 60px;
}

#item-img{
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  /* position: absolute; */
}

#item-data {
  margin-top: 45px;
}

#item-name{
  font-size: 14px;
  font-weight: bold;
}

#item-name:hover{
  text-decoration: underline;
}

#item-desc{
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 13.5px;
  color: #484848;
}

#item-currency{
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  vertical-align:top;
}

#item-price{
  padding: 0;
  margin: 6px 0 0 5px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
}

#morevariants-text{
  font-size: 12px;
  color: #484848;
  margin-bottom: 0;
}

#variation-img{
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-top: 1%;
  padding: 2px;
  border: transparent solid 1px;
}

#variation-img:hover{
  border: #878787 solid 1px;
}

#searchbtn{
  display: none;
}